.title-w120 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.625rem, -0.854rem + 6.962vw, 7.5rem);
    line-height: 130%;
}

.title-w60 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, -0.047rem + 3.165vw, 3.75rem);
    line-height: 130%;
}

.title-w50 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1rem, 0.543rem + 2.152vw, 3.125rem);
    line-height: 150%;
}

.text-w36 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.275rem + 1.646vw, 2.25rem);
    line-height: 150%;
        
    color: #1B1B1B;
}

.text-w30 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.356rem + 1.266vw, 1.875rem);
    line-height: 150%;
}

.text-w20 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.491rem + 0.633vw, 1.25rem);
    line-height: 150%;

}


.text-w16 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.625rem, 0.538rem + 0.385vw, 1rem);
    line-height: clamp(0.625rem, 0.438rem + 0.833vw, 1.438rem);
}



.title {
    margin-bottom: 30px;
}

.conteiner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}
/*  */

.conteiner__header {
    display: flex;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;

    padding: 10px 20px 10px 0px;

    background-color: #F8F8F8;
    border-radius: 10px;

    max-width: 1840px;
    max-height: 79px;
}
.logo {
}
.logo__iner {
    max-width: 171px;
    max-height: 59px;
}
.nav {
}
.nav__header {
   display: flex;
   justify-content: space-between;

}
.nav__list {
    display: flex;

    align-items: center;

    gap: 10px;
}

.nav__item {
    justify-self: center;
    align-self: center;

    padding: 15px 20px 15px 20px;

    background-color: #FFFFFF;
    border-radius: 10px;

    max-height: 50px;
}

.nav__item--no-search:hover {
    background-color: #374D7B;
    color: #FFFFFF;
    cursor: pointer;
}

.nav__item--no-search:hover path {
}

.nav__item--no-search:hover .cart__icon path {
    fill: #FFFFFF;
}

.nav__item--catalog {
    background-color: #00B0E1;
}

.nav__item--link:hover {
    cursor: pointer;
}

.nav__item--catalog>.nav__item--link {
    color: #FFFFFF;

}

.nav__item--catalog>.nav__item--link::before {
    display: inline-block;
    margin-right: 10px;

    content: url('data:image/svg+xml;utf8,<svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="20" height="2" fill="white"/><rect y="7.5" width="15" height="2" fill="white"/><rect y="14.5" width="10" height="2" fill="white"/></svg>');
    max-width: 20px;
    max-height: 16px;
}
.catalog__icon {
}
.link__text {
}

.nav__serch {
    align-self: center;
}

.nav__serch::placeholder {
    color: #B3B3B3;
    text-transform: uppercase;
}

.input__icon {
    margin-bottom: -8px;
    cursor: pointer;
}

.input__icon:hover {
    box-sizing: border-box;
    background-color: #374D7B;
    border-radius: 5px;
    padding: 5px;
}

.input__icon:hover path {
    fill: #FFFFFF;
}
.cart {
}
.cart__icon {

}

.cart__icon:hover path {
    color: #FFFFFF;
}

.personalAccount {
}

.nav__item--no-search:hover .personalAccount__icon path {
    fill: #FFFFFF;
}

.personalAccount__icon {
}
.phoneNumber__btn {
    display: flex;
    align-items: center;

    padding: 10px;

    color: #FFFFFF;
    background-color: #00B0E1;
    border-radius: 10px;

    cursor: pointer;
}

.phoneNumber__btn:hover {
    background-color: #374D7B;
}

.phoneNumber__btn::after {
    content: url(../imges/call-icon.svg);
    max-width: 24px;
    max-height: 24px;

    margin-left: 19px;
}
/*  */
.modal {
   
}

.first__modal {
    display: flex;
    flex-direction: column;
    justify-content: start;

    /* max-width: 725px;
    max-height: 400px; */

    background-color: #FFFFFF;

    padding: 26px;
}

.modal-close-btn__first {
    right: 23px;
    top: 17px;
    
    width: 24px;
    height: 24px;
}

.modal__close-btn::before {
    content: url(../imges/charm_cross.svg);

    width: 100%;
    height: 100%;
}

.first-modal__conteiner {
    margin-top: 45px;
}

.modal__title {
    display: flex;
    justify-content: center;

    text-transform: uppercase;
}
.modal__text {
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 20px;
}

.modal__conteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
}
.modal-conteiner__inner {
    display: flex;
    justify-content: center;

    gap: 20px;
}

.modal-conteiner-inner__inner {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.modal__input {
    box-sizing: border-box;

    background-color: #F5F5F5;
    color: #B3B3B3;
    border-radius: 10px;
    text-transform: uppercase;

    padding: 15px 10px 15px 20px;
    width: 100%;
}

.modal__input--question {
    height: 143px;
}

.modal__sabmit {
    display: flex;
    justify-content: center;
    text-align: center;

    background-color: #00B0E1;
    color: #FFFFFF;
    border-radius: 10px;

    margin-top: 20px;

    padding: 15px 0px 15px 0px;
    text-transform: uppercase;
}

.modal-text__mini {
    margin-top: 20px;

    color: #B3B3B3;
}

/*  */

.main {}

.swiper {
}

.swiper-slide {
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

section {
    margin: 100px 40px 0px 40px;
}

.firstSwiper {
    margin-top: 10px;

    max-width: 1840px;
    max-height: 657px;

    position: relative;
}

.swiper-wrapper--first {
    max-width: inherit;
    max-height: inherit;
}

.swiper-slide--first {
    border-radius: 10px;

    max-width: inherit;
    max-height: inherit;
}

.first__slide {
    background: linear-gradient(to bottom, #374D7B, #00B0E1);
}

.firstSlide__conteiner {
    display: flex;
}

.firstSlide__conteiner--inner {
    margin: 127px 58px 144px 158px;
}

.swiper-pagination--first {
    min-width: 10px;

    margin-bottom: 20px;
}

.swiper-pagination-bullet {
    border-radius: 2px;

    width: 40px;
    height: 5px;

    background-color: #404040;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}

.swiper-button-next,
.swiper-button-prev {
    margin-left: -9px;
    margin-right: -9px;
    width: 60px;
    height: 60px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none;
}

.swiper-button-next {
    background-image: url(../imges/slide-buton-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 50% 0 0 50%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: none;
}

.swiper-button-prev {
    background-image: url(../imges/slide-buton-prev.svg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 0 50% 50% 0;
    background-position: center;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
    background-color: #ffffff4a;
    background-image: url(../imges/slide-buton-prev_disablet.svg);
}

.swiper-button-next.swiper-button-disabled {
    opacity: 1 !important;
    background-color: #ffffff4a;
    background-image: url(../imges/slide-buton-next_disablet.svg);
}

.title__swiper--first {
    margin-bottom: 17px;

    color: #FFFFFF;
}

.text__slider--first {
    margin-bottom: 53px;

    color: #FFFFFF;
}

.ButtonLink {
    max-width: 300px;
    max-height: 70px;

    border-radius: 10px;

    padding: 23.5px 70.5px 23.5px 70.5px;
    margin: 23.5px 0px 23.5px 0px;

    background-color: #FFFFFF;
    color: #374D7B;
}

.ButtonLink:hover {
    background-color: #1B1B1B;
    color: #FFFFFF;
}

.swiper__img {
}

.benefits {
    display: flex;
    justify-content: space-between;

    margin-top: 49px;

    max-width: 1839px;

    border-radius: 10px;
    background: linear-gradient(to right, #00B0E1, #374D7B);
}

.conteiner__inner--benefits {
    margin: 51px 0px 50px 40px;
}

.benefits__title {
    color: #FFFFFF;
}

.benefits__title>.Call__write {
    text-transform: uppercase;
}



.aboutUs__list {
    margin-top: 20px;
    padding-left: 54px;
    list-style-image: url(../imges/aboutUs__item-marker.svg);
}

.aboutUs__item {
    color: #FFFFFF;
}

.aboutUs__item {}

.benefits__img {
    margin-top: -29px;

    max-width: 540.63px;
    max-height: 438px;
}

.title__catalog {
    margin-bottom: 40px;
}

.swiper-pagination-second>.swiper-pagination-bullet-active {
    background-color: #00B0E1;
}


.secondSwiper {
    position: relative;
    max-width: 1838px;
    max-height: 896px;
}

.secondSlider__conteiner {
    display: flex;

    width: 100%;
    height: 100%;
}
.productConteiner {
    display: flex;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    margin: 10px;

    background-color: #F5F5F5;

    overflow: hidden;
}

.productConteiner.productConteiner--apple {
    flex-direction: column;
}

.productConteiner.productConteiner--gopro {
    justify-content: space-between;
}


.productConteiner.productConteiner--apple {
    margin: 0;
    margin-right: 10px;
}

.productConteiner--apple {
    max-width: 914px;
    max-height: 851px;
}

.productConteiner--apple>.productConteiner__inner>.link {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.productConteiner__inner {
    margin-bottom: 68px;
}

.productConteiner--apple>.productConteiner__inner>.product__text {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.productConteiner__inner>.product__link {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.product__img {
    margin: 0px auto 69px auto;
    
    max-width: 570px;
    max-height: 675px;
}

.productConteiner--gopro {
    max-width: 914px;
    max-height: 420px;
}

.productConteiner.productConteiner--gopro>.productConteiner__inner {
}

.productConteiner.productConteiner--gopro>.product__img {
    max-width: 372px;
    max-height: 295px;

    margin: auto 40px 40px auto;
}

.secondConteiner__inner>.productConteiner {
    margin: 0;
    margin-bottom: 10px;
}

.secondConteiner__inner--inner>.productConteiner:not(.productConteiner.productConteiner--dji) {
    margin: 0;
    margin-right: 10px;
}

.secondConteiner__inner--inner>.productConteiner.productConteiner--dji {
    margin: 0;
}

.productConteiner--garming {
    flex-direction: column;

    max-width: 452px;
    max-height: 420px;
}

.productConteiner--garming>.product__img {
    margin: 24px 29px 0px auto;

    max-width: 261px;
    max-height: 309px;
}

.productConteiner--garming>.product__text {
    
}

.productConteiner--dji {
    max-width: 452px;
    max-height: 420px;
}

.productConteiner--dji>.product__img {
    max-width: 272px;
    max-height: 617px;

    margin-bottom: -100px;
    margin-left: -57px;
}

.productConteiner__inner {
    display: block;

    margin: 40px 0px 0px 40px;
}

.product__img {
}
.product__text {
    font-weight: bold;

    margin-bottom: 40px;
}
.link {
    font-family: 'Jost_SemiBold';
    color: #00B0E1;
    display: inline-block;
}

.link::after {
    content: url('data:image/svg+xml;utf8,<svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.5L7.5 7.5L1.5 13.5" stroke="%2300B0E1" stroke-width="2" stroke-linecap="round"/></svg>');
    margin-left: 10px;
    right: -15px;
}

.link:hover {
    color: #1B1B1B;
}

.link:hover::after {
    content: url('data:image/svg+xml;utf8,<svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.5L7.5 7.5L1.5 13.5" stroke="%231B1B1B" stroke-width="2" stroke-linecap="round"/></svg>');
}
.secondConteiner__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
}
.secondConteiner__inner--inner {
    display: flex;

    width: 100%;
    height: 100%;
}
.swiper-pagination {
}
.swiper-pagination-second {
    position: relative;

    margin-top: 40px;
}

.device__shop--block {
    display: block;
}

.benefits--second {
    max-width: 1839px;
    max-height: 403px;
}

.conteiner-inner__benefits--second {
    margin: 0;
    margin-top: 65px;
    margin-left: 40px;
}

.apple-garantie__img {
    max-width: 49.72px;
    max-height: 62px;

    margin-left: 15px;
}

.link--white {
    display: block;

    margin-top: 23px;
    margin-bottom: 64px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.link--white::after {
    content: url(../imges/link_icon2-white.svg);
    margin: 10px;
}

.benefits__img--second {
    margin-top: -63px;
    margin-right: 198px;
}
/*  */
.title__card {
}

.conteiner__inner--cards {
    display: flex;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 360px;
    max-height: 469px;

    width: 100%;
    height: 469px;

    padding: 20px;

    background-color: #F5F5F5;
    border-radius: 10px;
}

.card__img--conteiner {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 40px;
    margin-bottom: 33px;
}

.card__img {

}

.card__img--appleWatch {
    max-width: 188px;
    max-height: 223px;
}

.card__img--steam-deck {
    max-width: 348px;
    max-height: 223px;
}

.card__conteiner {

}
.card__title {
    font-weight: bold;
}
.card__article {
    color: #B3B3B3;
}
.card__conteiner--inner {
    margin-bottom: 15px;
}

.card__conteiner-inner--second {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: auto;
}

.card__price {
    font-weight: bold;
}

.card__price>span {
    text-decoration: line-through;
    color: #B3B3B3;
    margin-right: 10px;
}

.cart__btn {
    display: inline-flex; 
    justify-content: center;
    align-items: center;

    background-image: url(../imges/cart-icon.svg);
    background-size: 60%;
    background-position: center; 
    background-repeat: no-repeat;

    width: 50px; 
    height: 50px;

    background-color: #FFFFFF;
    border-radius: 10px;

    overflow: hidden; 
}
/*  */

.benefits--to-left {
    background: linear-gradient(to left, #00B0E1, #374D7B);
}

/*  */

.swiper-slide.feedback__conteiner.swiper-slide-active {

}

.feedback__conteiner {
    background-color: #F5F5F5;
    border-radius: 10px;

    width: 100%;
}

.feedback__conteiner--inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 20px;
}

.data {
    color: #B3B3B3;
}

.name {
    color: #1B1B1B;
    font-weight: bold;
}

.feedback__text {
}

.feedback__text>span {
    display: block;
    margin-top: 20px;
}

/*  */

.conteiner__inner--about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1840px;
    max-height: 685px;

    width: 100%;
    height: 100%;

    gap: 10px;
}

.first__conteiner {
    display: flex;
    justify-content: space-between;

    max-width: 1839px;
    max-height: 342px;

    width: 100%;
    height: 342px;

    gap: 10px;
}
.first-conteiner__title {
    background-color: #00B0E1;
    border-radius: 10px;

    max-width: 915px;
    max-height: 342px;

    width: 100%;
    height: 100%;
}
.first-conteiner__title>.benefits__title {
    margin: 54px auto 54px 40px;

    width: 100%;
    height: 100%;
}

.first-conteiner__text {
    background-color:#374D7B;
    border-radius: 10px;

    max-width: 915px;
    max-height: 342px;

    width: 100%;
    height: 100%;
}

.first-conteiner__text--inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 40px;
}

.first-conteiner__text--inner>.link--white {
    margin: 0px;

    margin-top: 60px;

    text-transform: uppercase;
}

.first-conteiner--text {
    color: #FFFFFF;
}

.first-conteiner--text>span {
    font-weight: bold;
}
.conect-with-us__conteiner {
    display: flex;
    justify-content: space-around;
    
    max-width: 1840px;
    max-height: 333px;

    width: 100%;
    height: 100%;

    overflow: hidden;

    border-radius: 10px;
    background: radial-gradient(circle at center, #374D7B, #00B0E1);
}
.conect-with-us-conteiner__img {
    max-width: 253px;
    max-height: 253px;

    margin: 40px;
}

.conect-with-us-conteiner__img--first {
    max-width: 400px;
    max-height: 400px;
}
.conect-with-us-conteiner__text-conteiner {
    display: inline-flex;
    flex-direction: column;
    
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    margin: 40px;
}
.conect-with-us-conteiner__text {
    max-width: 654px;
    max-height: 253px;
}

.benefits__title>.device__shop {
    max-width: 635px;

    display: block;
}

.device__shop>span {
    display: block;
    margin-left: 72px;
}

.conect-with-us-conteiner__text>.Call__write {
    max-width: 654px;
}
.conect-with-us-conteiner__button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 23px 104px 23px 104px;

    cursor: pointer;

    background-color: #FFFFFF;
    border-radius: 10px;
    color: #374D7B;
    box-shadow: 4px 10px 20px 0px rgba(255, 255, 255, 0.2);

    text-transform: uppercase;
}

.conect-with-us-conteiner__button:hover {
    background-color: #1B1B1B;
    color: #FFFFFF;
}

/*  */

footer {
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
}

.conteiner__inner--footer {
    display: flex;
    justify-content: space-around;

    border-radius: 10px;
    background-color: #F5F5F5;

    padding: 40px;
}
.conteiner-footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner-footer {
    height: 100%;
}

.conteiner-footer>.conteiner-footer__inner {
    flex-direction: row;
}



.conteiner-footer-inner__text {
}

.footer__title {
    color: #374D7B;
    text-transform: uppercase;
    font-weight: bold;

    margin-bottom: 14px;
}
.link__conteiner {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.footer__link {
}

.footer__link>span {
    display: block;
}

.footer__link:hover {
    color: #00B0E1;
}

.link__conteiner--inner {
}
.call__back {
    display: flex;
    align-items: center;
    max-width: 246px;
    max-height: 50px;

    padding: 14px 10px 14px 10px;

    background-color: #00B0E1;
    border-radius: 10px;
    color: #FFFFFF;

    text-transform: uppercase;
}

.call__back::after {
    content: url(../imges/call-icon.svg);

    margin-left: 40px;
}

.call__back:hover {
    background-color: #374D7B;
}

.catalog-modal__conteiner {
    display: none;

    position: absolute;
    width: 486px;
    height: 602px;
    left: 15.46875vw;
    top: 89px;

    z-index: 1000;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    padding: 20px;
}

.catalog-open {
    display: block !important;
}

.cross-btn {
    position: absolute;
    right: 20px;
    top: 20px;

    margin-left: auto;

    cursor: pointer;
}

.conteiner__inner--modal-catalog {
    margin-top: 64px;
    display: flex;
    gap: 20px;
}
.nav__conteiner {
    padding-right: 20px;
    border-right: solid #B3B3B3 1px;
}

.nav__conteiner--second {
    border: none;
    background-color: #F5F5F5;
    border-radius: 10px;

    min-width: 223px;
    padding: 10px 20px 10px 20px;
}

.catalog__list {
}

.catalog__item {
    padding: 10px 0px 10px 0px;
}

.catalog__item:not(:last-child) {
    border-bottom: solid #B3B3B3 1px;
}
.catalog__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: bold;
    width: 100%;
}

.catalog__btn:hover {
    cursor: pointer;
}

.active {
    color: #00B0E1;
    border-bottom: solid #00B0E1 1px!important;
}

.catalog__item.active>.catalog__btn>.catalog__icon path {
    stroke:#00B0E1;
}

.catalog__item.active>.catalog__btn>.catalog__icon {
    transform: scaleX(-1);
}

.catalog__icon {
    width: 15px;
}

.catalog__list--links {
    display: none;
    text-align: center;
}
.catalog__item--links {
}




@media (max-width: 1550px) {
 
    .benefits__img--second {
        margin-right: 0px;
    }

 
}

@media (max-width: 1450px) {
    .card__img--steam-deck {
        max-width: 235px;
    }
}