.title-w120 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.625rem, -0.854rem + 6.962vw, 7.5rem);
    line-height: 130%;
}

.title-w60 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, -0.047rem + 3.165vw, 3.75rem);
    line-height: 130%;
}

.title-w50 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(1rem, 0.543rem + 2.152vw, 3.125rem);
    line-height: 150%;
}

.text-w36 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.625rem, 0.275rem + 1.646vw, 2.25rem);
    line-height: 150%;
        
    color: #1B1B1B;
}

.text-w30 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.356rem + 1.266vw, 1.875rem);
    line-height: 150%;
}

.text-w20 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.625rem, 0.491rem + 0.633vw, 1.25rem);
    line-height: 150%;

}


.text-w16 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.625rem, 0.538rem + 0.385vw, 1rem);
    line-height: clamp(0.625rem, 0.438rem + 0.833vw, 1.438rem);
    text-transform: uppercase;
}

.title {
    margin-bottom: 30px;
}

.header {}

.conteiner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
}

.conteiner__header {
    display: flex;
    justify-content: space-between;

    background: #F8F8F8;

    max-height: 79px;
}

.conteiner__inner--header {
    display: flex;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    max-width: inherit;
}

.logo {
    display: flex;
    align-items: center;

    max-width: 171px;
    max-height: 59px;
}

.logo__iner {
    max-width: 100%;
    max-height: 100%;

    object-fit: contain;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: inherit;
}

.nav__header {
    margin-left: 4vw;
    margin-top: 15px;
    margin-bottom: 11px;
}

.nav__bar {
    display: flex;

    gap: 10px;
}

.nav__bar--second {
    display: flex;
    justify-content: right;

    margin-left: 6vw;
}

.nav__bar--item {
    display: flex;
    align-items: center;

    border-radius: 10px;

    background-color: #FFFFFF;

    padding: 15px 15px 15px 15px;
}

.nav__item--catalog {
    background-color: #00B0E1;
    color: #FFFFFF;
}

.catalog__icon {
    margin-right: 10px;

    max-width: 20px;
    max-height: 16px;
}

.nav__item--link {
    display: flex;

    margin-left: 5px;
    margin-right: 5px;
}


.nav__serch {
    width: 14.5vw;
}

.nav__serch::placeholder {
    text-transform: uppercase;
}

.input__icon {
    max-width: 24px;
    max-height: 24px;
}

.input__icon:hover {
    cursor: pointer;
}

.cart {
    max-width: 50px;
    max-height: 50px;
}

.cart__icon {
    max-width: 24px;
    max-height: 24px;
}

.personalAccount {
    max-width: 50px;
    max-height: 50px;
}

.personalAccount__icon {
    max-width: 24px;
    max-height: 24px;
}

.bar__item--phone {
    display: block;

    align-self: center;

    width: 10.56vw;

    background-color: #00B0E1;
    color: #FFFFFF;

    line-height: clamp(0.625rem, 0.388rem + 1.188vw, 1.813rem);
    font-size: clamp(0.625rem, 0.5rem + 0.625vw, 1.25rem)
}

.phoneNumber__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phoneNumber {}

.phoneNumber__icon {
    max-width: 24px;
    max-height: 24px;

    margin-left: 17px;
}

.main {}

.swiper {
}

.swiper-slide {
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

section {
    margin: 100px 40px 0px 40px;
}

.firstSwiper {
    margin-top: 10px;

    max-width: 1840px;
    max-height: 657px;

    position: relative;
}

.swiper-wrapper--first {
    max-width: inherit;
    max-height: inherit;
}

.swiper-slide--first {
    border-radius: 10px;

    max-width: inherit;
    max-height: inherit;
}

.first__slide {
    background: linear-gradient(to bottom, #374D7B, #00B0E1);
}

.firstSlide__conteiner {
    display: flex;
}

.firstSlide__conteiner--inner {
    margin: 127px 58px 144px 158px;
}

.swiper-pagination--first {
    min-width: 10px;

    margin-bottom: 20px;
}

.swiper-pagination-bullet {
    border-radius: 2px;

    width: 40px;
    height: 5px;

    background-color: #404040;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
}

.swiper-button-next,
.swiper-button-prev {
    margin-left: -9px;
    margin-right: -9px;
    width: 60px;
    height: 60px;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none;
}

.swiper-button-next {
    background-image: url(../imges/slide-buton-next.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    border-radius: 50% 0 0 50%;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: none;
}

.swiper-button-prev {
    background-image: url(../imges/slide-buton-prev.svg);
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 0 50% 50% 0;
    background-position: center;
}

.swiper-button-prev.swiper-button-disabled {
    opacity: 1 !important;
    background-color: #ffffff4a;
    background-image: url(../imges/slide-buton-prev_disablet.svg);
}

.swiper-button-next.swiper-button-disabled {
    opacity: 1 !important;
    background-color: #ffffff4a;
    background-image: url(../imges/slide-buton-next_disablet.svg);
}

.title__swiper--first {
    margin-bottom: 17px;

    color: #FFFFFF;
}

.text__slider--first {
    margin-bottom: 53px;

    color: #FFFFFF;
}

.ButtonLink {
    max-width: 300px;
    max-height: 70px;

    border-radius: 10px;

    padding: 23.5px 70.5px 23.5px 70.5px;
    margin: 23.5px 0px 23.5px 0px;

    background-color: #FFFFFF;
    color: #374D7B;
}

.swiper__img {
    z-index: -1;
}

.benefits {
    display: flex;
    justify-content: space-between;

    margin-top: 49px;

    max-width: 1839px;

    border-radius: 10px;
    background: linear-gradient(to right, #00B0E1, #374D7B);
}

.conteiner__inner--benefits {
    margin: 51px 0px 50px 40px;
}

.benefits__title {
    color: #FFFFFF;
}

.benefits__title>.Call__write {
    text-transform: uppercase;
}



.aboutUs__list {
    margin-top: 20px;
    padding-left: 54px;
    list-style-image: url(../imges/aboutUs__item-marker.svg);
}

.aboutUs__item {
    color: #FFFFFF;
}

.aboutUs__item {}

.benefits__img {
    margin-top: -29px;

    max-width: 540.63px;
    max-height: 438px;
}

.title__catalog {
    margin-bottom: 40px;
}

.swiper-pagination-second>.swiper-pagination-bullet-active {
    background-color: #00B0E1;
}


.secondSwiper {
    position: relative;
    max-width: 1838px;
    max-height: 896px;
}

.secondSlider__conteiner {
    display: flex;

    width: 100%;
    height: 100%;
}
.productConteiner {
    display: flex;

    height: 100%;
    width: 100%;

    border-radius: 10px;

    margin: 10px;

    background-color: #F5F5F5;

    overflow: hidden;
}

.productConteiner.productConteiner--apple {
    flex-direction: column;
}

.productConteiner.productConteiner--gopro {
    justify-content: space-between;
}


.productConteiner.productConteiner--apple {
    margin: 0;
    margin-right: 10px;
}

.productConteiner--apple {
    max-width: 914px;
    max-height: 851px;
}

.productConteiner--apple>.productConteiner__inner>.link {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.productConteiner__inner {
    margin-bottom: 68px;
}

.productConteiner--apple>.productConteiner__inner>.product__text {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.productConteiner__inner>.product__link {
    display: flex;
    justify-content: center;
}

.productConteiner--apple>.product__img {
    margin: 0px auto 69px auto;
    
    max-width: 570px;
    max-height: 675px;
}

.productConteiner--gopro {
    max-width: 914px;
    max-height: 420px;
}

.productConteiner.productConteiner--gopro>.productConteiner__inner {
}

.productConteiner.productConteiner--gopro>.product__img {
    max-width: 372px;
    max-height: 295px;

    margin: auto 40px 40px auto;
}

.secondConteiner__inner>.productConteiner {
    margin: 0;
    margin-bottom: 10px;
}

.secondConteiner__inner--inner>.productConteiner:not(.productConteiner.productConteiner--dji) {
    margin: 0;
    margin-right: 10px;
}

.secondConteiner__inner--inner>.productConteiner.productConteiner--dji {
    margin: 0;
}

.productConteiner--garming {
    flex-direction: column;

    max-width: 452px;
    max-height: 420px;
}

.productConteiner--garming>.product__img {
    margin: 24px 29px 0px auto;

    max-width: 261px;
    max-height: 309px;
}

.productConteiner--garming>.product__text {
    
}

.productConteiner--dji {
    max-width: 452px;
    max-height: 420px;
}

.productConteiner--dji>.product__img {
    max-width: 272px;
    max-height: 617px;

    margin-bottom: -100px;
    margin-left: -57px;
}

.productConteiner__inner {
    display: block;

    margin: 40px 0px 0px 40px;
}

.product__img {
}
.product__text {
    font-weight: bold;

    margin-bottom: 40px;
}
.link {
    font-family: 'Jost_SemiBold';

    color: #00B0E1;
}

.link::after {
    content: url(../imges/link_icon2.svg);
    margin-left: 10px;
}

.secondConteiner__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 100%;
}
.secondConteiner__inner--inner {
    display: flex;

    width: 100%;
    height: 100%;
}
.swiper-pagination {
}
.swiper-pagination-second {
    position: relative;

    margin-top: 40px;
}

.device__shop--block {
    display: block;
}

.benefits--second {
    max-width: 1839px;
    max-height: 403px;
}

.conteiner-inner__benefits--second {
    margin: 0;
    margin-top: 65px;
    margin-left: 40px;
}

.apple-garantie__img {
    max-width: 49.72px;
    max-height: 62px;

    margin-left: 15px;
}

.link--white {
    display: block;

    margin-top: 23px;
    margin-bottom: 64px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.link--white::after {
    content: url(../imges/link_icon2-white.svg);
    margin: 10px;
}

.benefits__img--second {
    margin-top: -63px;
    margin-right: 198px;
}
/*  */
.title__card {
}

.conteiner__inner--cards {
    display: flex;
    gap: 10px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 360px;
    max-height: 469px;

    width: 100%;
    height: 469px;

    padding: 20px;

    background-color: #F5F5F5;
    border-radius: 10px;
}

.card__img--conteiner {
    display: flex;

    justify-content: center;
    align-items: center;

    padding-top: 40px;
    margin-bottom: 33px;
}

.card__img {

}

.card__img--appleWatch {
    max-width: 188px;
    max-height: 223px;
}

.card__img--steam-deck {
    max-width: 348px;
    max-height: 223px;
}

.card__conteiner {

}
.card__title {
    font-weight: bold;
}
.card__article {
    color: #B3B3B3;
}
.card__conteiner--inner {
    margin-bottom: 15px;
}

.card__conteiner-inner--second {
    display: flex;

    align-items: center;
    justify-content: space-between;

    margin-top: auto;
}

.card__price {
    font-weight: bold;
}

.card__price>span {
    text-decoration: line-through;
    color: #B3B3B3;
    margin-right: 10px;
}

.cart__btn {
    display: inline-flex; 
    justify-content: center;
    align-items: center;

    background-image: url(../imges/cart-icon.svg);
    background-size: 60%;
    background-position: center; 
    background-repeat: no-repeat;

    width: 50px; 
    height: 50px;

    background-color: #FFFFFF;
    border-radius: 10px;

    overflow: hidden; 
}
/*  */

.benefits--to-left {
    background: linear-gradient(to left, #00B0E1, #374D7B);
}

/*  */

.swiper-slide.feedback__conteiner.swiper-slide-active {
    max-width: 607px!important;
    max-height: 231px!important;

    width: 100%!important;
    height: 100%!important;
}

.feedback__conteiner {
    background-color: #F5F5F5;
    border-radius: 10px;

    max-width: 607px;
    max-height: 231px;
}

.feedback__conteiner--inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 20px;
}

.data {
    color: #B3B3B3;
}

.name {
    color: #1B1B1B;
    font-weight: bold;
}

.feedback__text {
}

.feedback__text>span {
    display: block;
    margin-top: 20px;
}

/*  */

.conteiner__inner--about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1840px;
    max-height: 685px;

    width: 100%;
    height: 100%;

    gap: 10px;
}

.first__conteiner {
    display: flex;
    justify-content: space-between;

    max-width: 1839px;
    max-height: 342px;

    width: 100%;
    height: 342px;

    gap: 10px;
}
.first-conteiner__title {
    background-color: #00B0E1;
    border-radius: 10px;

    max-width: 915px;
    max-height: 342px;

    width: 100%;
    height: 100%;
}
.first-conteiner__title>.benefits__title {
    margin: 54px auto 54px 40px;

    width: 100%;
    height: 100%;
}

.first-conteiner__text {
    background-color:#374D7B;
    border-radius: 10px;

    max-width: 915px;
    max-height: 342px;

    width: 100%;
    height: 100%;
}

.first-conteiner__text--inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    margin: 40px;
}

.first-conteiner__text--inner>.link--white {
    margin: 0px;

    margin-top: 60px;

    text-transform: uppercase;
}

.first-conteiner--text {
    color: #FFFFFF;
}

.first-conteiner--text>span {
    font-weight: bold;
}
.conect-with-us__conteiner {
    display: flex;
    justify-content: space-around;
    
    max-width: 1840px;
    max-height: 333px;

    width: 100%;
    height: 100%;

    overflow: hidden;

    border-radius: 10px;
    background: radial-gradient(circle at center, #374D7B, #00B0E1);
}
.conect-with-us-conteiner__img {
    max-width: 253px;
    max-height: 253px;

    margin: 40px;
}

.conect-with-us-conteiner__img--first {
    max-width: 400px;
    max-height: 400px;
}
.conect-with-us-conteiner__text-conteiner {
    display: inline-flex;
    flex-direction: column;
    
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    margin: 40px;
}
.conect-with-us-conteiner__text {
    max-width: 654px;
    max-height: 253px;
}

.benefits__title>.device__shop {
    max-width: 635px;

    display: block;
}

.device__shop>span {
    display: block;
    margin-left: 72px;
}

.conect-with-us-conteiner__text>.Call__write {
    max-width: 654px;
}
.conect-with-us-conteiner__button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    border-radius: 10px;
    color: #374D7B;

    max-width: 300px;
    max-height: 70px;

    width: 100%;
    height: 100%;
}

/*  */

footer {
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
}

.conteiner__inner--footer {
    display: flex;
    justify-content: space-around;

    border-radius: 10px;
    background-color: #F5F5F5;

    padding: 40px;
}
.conteiner-footer__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteiner-footer {
    height: 100%;
}

.conteiner-footer>.conteiner-footer__inner {
    flex-direction: row;
}



.conteiner-footer-inner__text {
}

.footer__title {
    color: #374D7B;
    text-transform: uppercase;
    font-weight: bold;

    margin-bottom: 14px;
}
.link__conteiner {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}
.footer__link {
}

.footer__link>span {
    display: block;
}

.link__conteiner--inner {
}
.call__back {
    display: flex;
    justify-content: center;

    max-width: 246px;
    max-height: 50px;

    padding: 14px 10px 14px 10px;

    margin-top: ;

    background-color: #00B0E1;
    border-radius: 10px;
    color: #FFFFFF;
}

.call__back::after {
    content: url(../imges/call-icon.svg);

    margin-left: 40px;
}