.swiper-container {
    position: relative;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10; /* Убедитесь, что пагинация находится поверх слайдов */
}

.swiper-pagination-line {
    width: 20px;
    height: 2px;
    display: inline-block;
    background: #000;
    opacity: 0.2;
    margin: 0 5px;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ff6347; /* Меняем цвет активного элемента */
    transform: scale(1.5); /* Увеличиваем активный элемент */
}