.swiper-container {
    position: relative;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    z-index: 10; /* Убедитесь, что пагинация находится поверх слайдов */
}

.swiper-pagination-line {
    width: 20px;
    height: 2px;
    display: inline-block;
    background: #000;
    opacity: 0.2;
    margin: 0 5px;
    transition: opacity 0.3s, transform 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ff6347; /* Меняем цвет активного элемента */
    transform: scale(1.5); /* Увеличиваем активный элемент */
}

.aboutUs__list {
    list-style-image: url(../imges/aboutUs__item-marker.svg);
}

.aboutUs__item::marker {
}

.aboutUs__item {
    /* color: #000; */
    color: #FFFFFF;
}

.conteiner {
    max-width: 100px;

    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .burger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: none; /* Скрываем кнопку по умолчанию */
    flex-direction: column;
    justify-content: space-around;
  }

  .burger-icon {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    position: relative;
  }

  .burger-icon::before,
  .burger-icon::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    position: absolute;
    left: 0;
  }

  .burger-icon::before {
    top: -10px;
  }

  .burger-icon::after {
    top: 10px;
  }

  .burger-button.active .burger-icon {
    background-color: transparent;
  }

  .burger-button.active .burger-icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  .burger-button.active .burger-icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu {
    display: block; /* Показываем меню по умолчанию */
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .menu li {
    margin: 0 10px;
  }

  /* Медиа-запрос для экранов меньше 1500px */
  @media (max-width: 1500px) {
    .burger-button {
      display: flex; /* Показываем кнопку бургер */
    }

    .menu {
      display: none; /* Скрываем меню */
      position: absolute;
      top: 60px;
      right: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;
    }

    .menu.active {
      display: block; /* Показываем меню при активной кнопке */
    }
  }